@model MVC_Blog.Models.Post

@{
    ViewBag.Title = "Details";
}

<h2>@Model.Title</h2>

<fieldset>
    <legend><i>Article</i></legend>

    <div class="display-field"></div>
    <div class="display-field">@Html.Raw(Model.Body)</div>

    <div class="display-label">PublishedDate</div>
    <div class="display-field">@String.Format("{0:g}", Model.Date)</div>
</fieldset>
<hr/>
    @if (Model.Comments != null)
    {
        foreach (var comment in Model.Comments)
        {
            <section class="comments">
                <article class="comment">
                    <div class="comment-body">
                        <div class="text">
                            <p>@comment.Text</p>
                        </div>
                        <p class="attribution"><b>by&nbsp;</b><i>Anonymous&nbsp;</i><b>at &nbsp;</b><i>@comment.Date</i></p>
                    </div>
                </article>
            </section>
       }
    }

@using (Html.BeginForm("CreateComment", "Posts", new { Post_Id = Model.Id }, FormMethod.Post))
{
    

    <form>
        <textarea rows="4" cols="50" class="add-comments" name="Text" required></textarea><br />
        <b>Name: &nbsp;</b><input type="text" name="VisitorName" id="visitor-name" required />
        <input type="submit" value="Add Comment" class="btn btn-default" />
    </form>
}


<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>